
body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

header {
  height: 90px;
  width: 100%;
  background-color: rgba(180, 215, 230, 0.7);
  color: rgba(0, 142, 209);
/*   position: fixed; */
/*   top: opx; */
}

.header-logo {
  font-weight: bold;
  font-size: 36px
  float: left;
  padding: 33px 50px 33px 20px
}

.header-right li {
  float: left;
  padding: 33px 20px
}

.top-wrapper {
  background-image: url(index-background.jpg);
  background-size: cover;
}
