
body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  margin: 0;
}

li {
  list-style: none;
}

header {
  height: 60px;
  width: 100%;
  background-color: rgba(180, 215, 230, 0.3);
  color: rgba(0, 142, 209);
  position: fixed;
  top: 0px

}

.header-logo {
  margin: 0 50px 0 20px;
  float: left;
  font-weight: bold;
  font-size: 20px
  /* border: 10px solid black; */
}

.header-right li {
  float: left;
  padding: 8px 20px
  /* border: 10px solid white; */
}

.top-wrapper {
  height: 800px;
  background-image: url("https://you229.github.io/background.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 100px 15px;
}
.container h1 {
  color: rgba(40, 160, 160);
  letter-spacing: 10px;
}
